/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
}
* {
  box-sizing: border-box;
}
body {
  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  background: var(--secondary);
}
section {
  max-width: 90vw;
}
a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  color: var(--primary);
  border-color: var(--primary);
}

/* UI Event Classes */

/* Jump animation on the interaction link */

a:nth-of-type(12) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* MIJN ANIMATIES */

/*USERFLOW ANIMATION*/

a:nth-of-type(13) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.shake {
  animation-name: shake;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(-10,10) translateY(0) ;
  }
  30% {
    transform: scale(1,1) translateY(-5rem) ;
  }
  50% {
    transform: scale(10,-10) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) ;
  }
  64% {
    transform: scale(-10, 10) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/*FRONTEND ANIMATION*/


a:nth-of-type(1) {
  position: relative;
}

.frontend {
  animation-name: frontend;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes frontend {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
    background-color: #7ce7c9;
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
    background-color: #9d7beb;
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
    background-color: #fff;
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
    background-color: antiquewhite;
  }
  64% {
    transform: scale(1, 1) translateY(0);
    background-color: aqua;
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}


/*AND ANIMATION*/

a:nth-of-type(13) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.and {
  animation-name: and;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes and {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(-10,10) translateY(0) ;
  }
  30% {
    transform: scale(1,1) translateY(-5rem) ;
  }
  50% {
    transform: scale(10,-10) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) ;
  }
  64% {
    transform: scale(-10, 10) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/*DEVELOPMENT ANIMATION*/


a:nth-of-type(4) {
  position: relative;
}

.development {
  animation-name: development;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes development {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
    background-color: #d97ce7;
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
    background-color: #eb7be2;
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
    background-color: rgb(77, 6, 70);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-20deg);
    background-color: rgb(162, 20, 70);
  }
  64% {
    transform: scale(1, 1) translateY(0);
    background-color: rgb(225, 29, 29);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/*SPRINT*/


a:nth-of-type(5) {
  position: relative;
}

.sprint {
  animation-name: sprint;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes sprint {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

/*FIX ANIMATION*/


a:nth-of-type(6) {
  position: relative;
}

.fix {
  animation-name: fix;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes fix {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
    background-color: #d97ce7;
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
    background-color: #eb7be2;
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
    background-color: rgb(77, 6, 70);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-20deg);
    background-color: rgb(162, 20, 70);
  }
  64% {
    transform: scale(1, 1) translateY(0);
    background-color: rgb(225, 29, 29);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/*THE ANIMATION*/


a:nth-of-type(7) {
  position: relative;
}

.the {
  animation-name: the;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes the {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
    background-color: #44b65b;
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(-10deg);
    background-color: #0b8080;
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
    background-color: rgb(38, 7, 128);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(50deg);
    background-color: rgb(170, 59, 98);
  }
  64% {
    transform: scale(1, 1) translateY(0);
    background-color: rgb(111, 84, 84);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}